In [2]:
import pandas as pd
import nltk

In [3]:
review = pd.read_json('data\review_city.json',lines = True)
review.head()

ValueError: Expected object or value

In [13]:
review.shape

(942027, 9)

In [15]:
business = pd.read_json('business_city.json',lines = True)
business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,pQeaRpvuhoEqudo3uymHIQ,The Empanadas House,404 E Green St,Champaign,IL,61820,40.110446,-88.233073,4.5,5,1,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...","Ethnic Food, Food Trucks, Specialty Food, Impo...","{'Monday': '11:30-14:30', 'Tuesday': '11:30-14..."
1,7Dv4_HAxsxvadEsT5fxQBg,Dependable Brakes & Exhaust,1110 Saw Mill Run Blvd,Pittsburgh,PA,15226,40.406667,-80.004450,5.0,5,1,{'BusinessAcceptsCreditCards': 'True'},"Automotive, Auto Repair","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."
2,M_guz7Dj7hX0evS672wIwA,Chocolate Shoppe Ice Cream,2831 Parmenter St,Middleton,WI,53562,43.105310,-89.510142,3.5,6,1,"{'BikeParking': 'True', 'Caters': 'True', 'Whe...","Desserts, Food, Ice Cream & Frozen Yogurt","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ..."
3,03x6ZlJ7s39DHqfTJU1Ecg,Beechmont Country Club,29600 Chagrin Blvd,Beachwood,OH,44122,41.461448,-81.470127,4.5,7,1,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Event Planning & Services, Venues & Event Spac...",None
4,_4Oe9V-qTpU5iemM9bphlA,Goodyear Auto Service Center,"800 Fort Duquesne Blvd, Ste 1",Pittsburgh,PA,15222,40.444614,-79.999344,3.5,12,1,{'BusinessAcceptsCreditCards': 'True'},"Oil Change Stations, Auto Repair, Automotive, ...","{'Monday': '7:0-18:0', 'Tuesday': '7:0-18:0', ..."

In [14]:
business.shape

(36327, 14)

In [8]:
tip = pd.read_json('tip_city.json',lines = True)
tip.head()

,user_id,business_id,text,date,compliment_count
0,NfU0zDaTMEQ4-X9dbQWd9A,5VXxZIMgoKRWbNa6x9kMfw,Gordon Square sundae for the little one!,2012-03-17 00:36:24,0
1,Yi5KGA-QvolRWNeDfzEKrw,Egd-0nDgzZGEVA0R09yyUQ,Salmon Melissa,2011-08-04 21:54:35,0
2,rpK40ZN2rNFJLhfdlQqS-Q,qpmd3uD2ffE29J6wK-RkrQ,The gas here is usually cheaper than regular g...,2011-04-10 18:43:14,0
3,dt9IHwfuZs9D9LOH7gjNew,M5lsAGp-jPwzHAVfIaEx6g,No longer in the flats.,2014-02-15 23:55:49,0
4,CbmNBkKa9QKNxPiN_whFUw,lwuio1wYukQ_WaC8PPaS4Q,Impossible an alien has taken over!,2012-01-11 11:42:24,0

In [16]:
tip.shape

(129571, 5)

In [9]:
user = pd.read_json('user_city.json',lines = True)
user.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,xvu8G900tezTzbbfqmTKvA,Anne,485,2008-08-09 00:30:27,1265,400,512,"2009,2010,2011,2012,2014,2015,2016,2017,2018","3W3ZMSthojCUirKEqAwGNw, eTIbuu23j9tOgmIa9POyLQ...",78,...,9,2,1,1,22,28,31,31,19,31
1,z5_82komKV3mI4ASGe2-FQ,Steve,186,2007-02-27 07:09:40,642,192,155,2007,"E-fXXmALnZTPmzzL6rV4cQ, L2g6vS1GDfqLEpiDOFfCkA...",15,...,16,7,7,2,60,36,32,32,8,9
2,QG13XBbgHWydzThRBGJtyw,Claire,218,2007-06-04 00:14:10,587,372,426,"2008,2009","tnfVwTpuPlR6W2xEAMiqsg, Bd_16T8Dva27lF5LIrUmcQ...",31,...,5,1,5,3,18,24,37,37,17,5
3,I_6wY8_RsewziNnKhGZg4g,Jeff,405,2010-08-05 18:42:29,799,244,312,"2010,2011,2012,2013,2014,2015,2016,2017","OGa2q6LvuQLYFUG_RCcALw, 0uM2R-uMBemiNlrFG5j56A...",13,...,8,3,0,1,19,48,76,76,14,6
4,1WBxJ2r3A2QYfRSEzgcmkQ,Evan Thoreau,315,2009-10-30 15:05:44,658,251,361,"2010,2011,2012,2013,2014,2015,2016","JUsNVy1vopeN61geWX6qRw, KDrRwgcGfMHzJXACVtreMA...",31,...,4,4,1,1,52,151,50,50,33,5

In [17]:
user.shape

(272014, 22)